# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

# ROUTE FORMULAIRE DE CONNEXION
# PATTERN: /users/login/form
# TARGET: index.php?users=loginForm
RewriteRule ^users\/login\/form$ index.php?users=loginForm [L]

# ROUTE DE CONNEXION
# PATTERN: /users/login
# TARGET: index.php?users=login
RewriteRule ^users\/login$ index.php?users=login [L]

# ROUTE LISTE DES RECIPES
# PATTERN: /recipes
# TARGET: index.php?recipes=index
RewriteRule ^recipes$ index.php?recipes=index [L]

# ROUTE DÉTAILS D'UNE RECIPE
# PATTERN: /recipes/{id}/{slug}
# TARGET: index.php?recipes=show&id=x
RewriteRule ^recipes\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?recipes=show&id=$1 [L]

# ROUTE LISTE DES USERS
# PATTERN: /users
# TARGET: index.php?users=index
RewriteRule ^users$ index.php?users=index [L]

# ROUTE DÉTAILS D'UN USER
# PATTERN: /users/{id}/{slug}
# TARGET: index.php?users=show&id=x
RewriteRule ^users\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?users=show&id=$1 [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
